
body {
    background: #030304;
    margin: 0px;
}

* {
    color: #bbbbaa;
    font-family: "Roboto"
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.game {
    width: 100%;
    border-top-width: 2px;
    border-top-color: #bbbbaa;
    border-top-style: solid;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section ul {
    width: 100%;
    margin-top: 0px;
}

li {
    margin: 4px;
}

.middle {
    max-width: 580px;
}

h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 10px;
}

footer {
    background: #bbbbaa;
    color: #030304;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #030304;
}

header {
    padding: 10px;
}